body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  overflow-x: hidden;
}
.video{
  float: left;
  width: 100%;
}
footer{
   text-align: center;
    width:100%;
    bottom:0px;
    background-color: #253341;
    color:#22CC7E;
}
@media (min-width:601px) {
  .flex-conatiner{
    font-style: italic;
    padding: 9px;
    display: flex;
    background-color: #253341;
    color: #22CC7E;
  }
}
@media (max-width:600px) {
  .flex-conatiner{
    width:100%;
    display: flex;
    font-style: italic;
    background-color: #253341;
    color: #22CC7E;
  }
}
@media (max-width:400px) {
   .video {
     width: 100%;
   }
  .flex-conatiner {
    font-style: italic;
    display:flex;
    width: 100%;
    flex-flow: column nowrap;
    background-color: #253341;
    color: #22CC7E;
  }
}